In [4]:
# import libraries
import osmnx as ox
import numpy as np
import matplotlib.pyplot as plt

In [6]:

cities = [
    "Kingston, Jamaica",
    "Port of Spain, Trinidad and Tobago",
    "Bridgetown, Barbados",
    "Santo Domingo, Dominican Republic",
    "Castries, Saint Lucia"
]

In [7]:
def get_buildings(place, save=None):
    """
    Fetch building footprints from OpenStreetMap for a given place.

    Parameters
    ----------
    place : str
        Place name recognized by OSM (e.g., "Castries, Saint Lucia").
    save : str, optional
        Directory to save output. If None, nothing is written to disk.

    Returns
    -------
    GeoDataFrame
        Buildings with columns: building, name, addr:city, geometry.
    """
    import osmnx as ox

    tags = {"building": True}
    gdf = ox.features.features_from_place(place, tags)
    gdf = gdf[["building", "name", "addr:city", "geometry"]]

    if save:
        fname = place.replace(", ", "_").replace(" ", "_").lower()
        gdf.to_file(f"{save}/buildings_{fname}.gpkg", driver="GPKG")

    return gdf

In [10]:
place = cities[-1]
df = get_buildings(place)

(19188, 4)

                        building                              name addr:city  \
element_type osmid
node         3871054803   temple     Refiner's Fire Ministry Intl.       NaN
             3896676947   church              Cornerstone Ministry       NaN
             3958996887      yes                               NaN       NaN
             3959669219      yes   First National Bank of St Lucia  Castries
             4022542592      yes  La Croix Maingot Combined School       NaN

                                           geometry
element_type osmid
node         3871054803  POINT (-60.96609 14.00770)
             3896676947  POINT (-60.98347 14.00177)
             3958996887  POINT (-60.95677 14.01560)
             3959669219  POINT (-60.99189 14.00866)
             4022542592  POINT (-61.00838 13.96917)

In [11]:

print(df.shape)
df.head()

(19188, 4)

                        building                              name addr:city  \
element_type osmid
node         3871054803   temple     Refiner's Fire Ministry Intl.       NaN
             3896676947   church              Cornerstone Ministry       NaN
             3958996887      yes                               NaN       NaN
             3959669219      yes   First National Bank of St Lucia  Castries
             4022542592      yes  La Croix Maingot Combined School       NaN

                                           geometry
element_type osmid
node         3871054803  POINT (-60.96609 14.00770)
             3896676947  POINT (-60.98347 14.00177)
             3958996887  POINT (-60.95677 14.01560)
             3959669219  POINT (-60.99189 14.00866)
             4022542592  POINT (-61.00838 13.96917)

In [14]:
df.building.value_counts()

building
yes             15707
house            2995
residential       110
school             91
commercial         68
hotel              28
apartments         27
church             22
industrial         15
construction       14
shed               14
roof               12
warehouse          11
service             9
silo                8
garage              8
kindergarten        7
retail              6
greenhouse          5
hospital            5
office              4
hangar              3
Offices             3
public              3
temple              1
meat_shop           1
cathedral           1
supermarket         1
easy palour         1
civic               1
pavilion            1
community           1
mosque              1
ruins               1
clinic              1
container           1
farm                1
Name: count, dtype: int64